apiVersion: cstor.openebs.io/v1
kind: CStorPoolCluster
metadata:
  name: cstor-disk-pool
  namespace: openebs
spec:
  pools:
{% for bd in block_devices %}
    - nodeSelector:
        kubernetes.io/hostname: "{{ bd.metadata.labels.nodename }}"
      dataRaidGroups:
        - blockDevices:
          - blockDeviceName: "{{ bd.metadata.name }}"
      poolConfig:
        dataRaidGroupType: "stripe"
{% endfor %}
